form {
    display: block;
    margin-top: 30px; 
    width: 100%;
    margin-bottom: 30px; 
    input {
        background-color: transparent;
        border:0;
        border-bottom:2px #555 solid;
        height: 50px; 
        line-height: 50px; 
        padding: 0px; 
        display: inline-block;
        width: 100%;
        outline: none; 
        font-size: 14px;
        color: #555;
        margin-bottom: 10px; 
    }
    textarea {
        background-color: transparent;
        border:0;
        border-bottom:2px #555 solid;
        height: 100px; 
        line-height: 60px; 
        padding:0px; 
        display: inline-block;
        width: 100%;
        outline: none; 
        font-size: 14px;
        color: #555; 
        margin-bottom: 15px; 
    }
    button {
        background-color: transparent;
        border:0;
        line-height: 20px; 
        margin-top: 0px; 
        font-weight: 600;
        font-size: 12px; 
        letter-spacing: 2px; 
        text-transform: uppercase;
        color: #fff;
        border-bottom: 2px #fff solid;
    } 
}
.gm-style-mtc {display: none !important ;}
.address.style2 {padding-top: 50px; }
.address.style2 h3 {display: block;color: #a9acb5;text-transform: uppercase;margin-bottom: 25px;font-size: .75rem;letter-spacing: 1.97px;font-weight: bold;}
.address.style2 h5 {color: #ddd; font-size: 13px; font-weight: 500; margin-top: 10px; }
.address.style2 p {font-size: 11px !important; font-weight: 500 !important; line-height: 22px !important; color: #a9acb5 !important; opacity: 1;  text-transform: uppercase; }
