//

//
.theme1-style {
	--theme1-large-text-fontsize:115px;;
	--theme1-medium-text-fontsize:52px;
	--theme1-small-text-fontsize:12px;
	--theme1-small-text-color:#fff;
	--theme1-exsmall-text-fontsize:15px;
	--theme1-exsmall-text-color:#ddd;

	--service-bgcolor:#222;
	--service-iconsize:50px;
	--service-titlesize:14px;
	--service-subtitlesize:13px;

	--feedback-fontsize:26px;
	--feedback-fontweight:300;
	--feedback-user-fontsize:13px;
	--feedback-prof-fontsize:10px;
	--award-image-width:70px;

	--timeline-titlesize:16px;
	--timeline-titlesize-color:#fff;
	--timeline-subtitlesize:11px;
	--timeline-subtitlesize-color:#999;
	--timeline-small-text-size:13px;
	--timeline-small-text-size-color:#999;

	--barchart-height-size:8px;
	--barchart-radius:8px;
	--barchart-margin-bottom:25px;
	--barchart-value-fontsize:12px;
	--barchart-value-color:#888;
	--barchart-bgoclor:#666;
	--barchart-name-fontsize:13px;
	--barchart-name-color:#ddd;

	--roundbar-bgcolor:#212121;	
	--roundbar-name-fontsize:14px;
	--roundbar-name-color:#888;
	--roundbar-radius:140px; 
}

.theme2-style {
	--theme2-large-text-fontsize:125px;;
	--theme2-medium-text-fontsize:55px;
	--theme2-small-text-fontsize:12px;
	--theme2-small-text-color:#fff;
	--theme2-exsmall-text-fontsize:15px;
	--theme2-exsmall-text-color:#ddd;

	--service-bgcolor:#222;
	--service-iconsize:50px;
	--service-titlesize:14px;
	--service-subtitlesize:13px;

	--feedback-fontsize:26px;
	--feedback-fontweight:300;
	--feedback-user-fontsize:13px;
	--feedback-prof-fontsize:10px;
	--award-image-width:70px;

	--timeline-titlesize:16px;
	--timeline-titlesize-color:#fff;
	--timeline-subtitlesize:11px;
	--timeline-subtitlesize-color:#999;
	--timeline-small-text-size:13px;
	--timeline-small-text-size-color:#999;

	--barchart-height-size:8px;
	--barchart-radius:8px;
	--barchart-margin-bottom:25px;
	--barchart-value-fontsize:12px;
	--barchart-value-color:#888;
	--barchart-bgoclor:#666;
	--barchart-name-fontsize:13px;
	--barchart-name-color:#ddd;

	--roundbar-bgcolor:#212121;	
	--roundbar-name-fontsize:14px;
	--roundbar-name-color:#888;
	--roundbar-radius:140px; 
}

.theme3-style {

	--theme3-menu-text-size:11px;
	--theme3-menu-text-gap:30px;	
	--theme3-footer-text-size:14px;

	--theme3-large-text-fontsize:125px;;
	--theme3-medium-text-fontsize:55px;
	--theme3-small-text-fontsize:12px;
	--theme3-small-text-color:#fff;
	--theme3-exsmall-text-fontsize:15px;
	--theme3-exsmall-text-color:#ddd;


	--feedback-fontsize:26px;
	--feedback-fontweight:300;
	--feedback-user-fontsize:13px;
	--feedback-prof-fontsize:10px;
	--award-image-width:70px;
	
	--service-bgcolor:#222;
	--service-iconsize:50px;
	--service-titlesize:14px;
	--service-subtitlesize:13px;

	--timeline-titlesize:16px;
	--timeline-titlesize-color:#fff;
	--timeline-subtitlesize:11px;
	--timeline-subtitlesize-color:#999;
	--timeline-small-text-size:13px;
	--timeline-small-text-size-color:#999;
	
	--barchart-height-size:8px;
	--barchart-radius:8px;
	--barchart-margin-bottom:25px;
	--barchart-value-fontsize:12px;
	--barchart-value-color:#888;
	--barchart-bgoclor:#666;
	--barchart-name-fontsize:13px;
	--barchart-name-color:#ddd;

	--roundbar-bgcolor:#212121;	
	--roundbar-name-fontsize:14px;
	--roundbar-name-color:#888;
	--roundbar-radius:140px; 
}


.theme4-style {
	--theme4-header-image-radius:180px;
	--theme4-name-fontsize:34px;
	--theme4-porf-fontsize:13px;
	--theme4-social-icon-radius:40px;
	--theme4-social-icon-color:#fff;
	--theme4-card-bg-color:#222;
	--theme4-card-text-color:#ddd;
	--theme4-card-text-fontsize:14px;
	--theme4-card-largetext-fontsize:200px;

	--theme4-large-text-fontsize:75px;;
	--theme4-medium-text-fontsize:42px;
	--theme4-small-text-fontsize:12px;
	--theme4-small-text-color:#fff;
	--theme4-exsmall-text-fontsize:15px;
	--theme4-exsmall-text-color:#ddd;

	--theme4-menu-icon-radius:50px;
	--theme4-menu-icon-bg-color:#222;
	--theme4-menu-icon-color:#fff;
	--theme4-menu-icon-size:20px;
	--theme4-menu-line-height:50px;
	--theme4-menu-active-icon-bg-color:#ddd;
	--theme4-menu-active-icon-color:#000;

	--feedback-fontsize:20px;
	--feedback-fontweight:400;
	--feedback-user-fontsize:13px;
	--feedback-prof-fontsize:10px;
	--award-image-width:55px;
	
	--service-bgcolor:#111;
	--service-iconsize:50px;
	--service-titlesize:14px;
	--service-subtitlesize:13px;

	--timeline-titlesize:16px;
	--timeline-titlesize-color:#fff;
	--timeline-subtitlesize:11px;
	--timeline-subtitlesize-color:#999;
	--timeline-small-text-size:13px;
	--timeline-small-text-size-color:#999;
	
	--barchart-height-size:8px;
	--barchart-radius:8px;
	--barchart-margin-bottom:25px;
	--barchart-value-fontsize:12px;
	--barchart-value-color:#888;
	--barchart-bgoclor:#666;
	--barchart-name-fontsize:13px;
	--barchart-name-color:#ddd;

	--roundbar-bgcolor:#212121;	
	--roundbar-name-fontsize:14px;
	--roundbar-name-color:#888;
	--roundbar-radius:140px; 
}

