<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mahammad Sadigzada - Portfolio 
    </title>

    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-three.css">
    <link rel="stylesheet" href="css/animate.css">
    
</head>

<body class="bg-transperent theme3-style light-black color-theme-blue animation1">
    
    <div class="loader-wrapper">
        <div class="loader-img"><span> Loading...</span></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <div class="backdrop"></div>
    <div class="switchcolor"><img src="images/settings.png" alt="icon"></div>
    <div class="switchcolor-wrap">
        <a class="link sheet-close"><i class="ti-close"></i></a>
        <h2>Settings</h2>
        <h4>Choose Color Theme</h4>
        <ul>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="red"><i class="ti-check"></i>
                    <span class="circle-color bg-red" style="background-color: #ff3b30;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="green"><i class="ti-check"></i>
                    <span class="circle-color bg-green" style="background-color: #4cd964;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="blue" checked=""><i class="ti-check"></i>
                    <span class="circle-color bg-blue" style="background-color: #132977;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="pink"><i class="ti-check"></i>
                    <span class="circle-color bg-pink" style="background-color: #ff2d55;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="yellow"><i class="ti-check"></i>
                    <span class="circle-color bg-yellow" style="background-color: #ffcc00;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="orange"><i class="ti-check"></i>
                    <span class="circle-color bg-orange" style="background-color: #ff9500;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="gray"><i class="ti-check"></i>
                    <span class="circle-color bg-gray" style="background-color: #8e8e93;"></span>
                </label>
            </li>

            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="brown"><i class="ti-check"></i>
                    <span class="circle-color bg-brown" style="background-color: #D2691E;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="darkgreen"><i class="ti-check"></i>
                    <span class="circle-color bg-darkgreen" style="background-color: #228B22;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="deeppink"><i class="ti-check"></i>
                    <span class="circle-color bg-deeppink" style="background-color: #FFC0CB;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="cadetblue"><i class="ti-check"></i>
                    <span class="circle-color bg-cadetblue" style="background-color: #5f9ea0;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="darkorchid"><i class="ti-check"></i>
                    <span class="circle-color bg-darkorchid" style="background-color: #9932cc;"></span>
                </label>
            </li>
         </ul>
        <h4>Choose Animation</h4>
        <ul>
            <li>
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio"  value="animation1" checked=""><i class="ti-check"></i>
                    <span class="circle-ani">Animation 1</span>
                </label>
            </li>
            <li class="mr-0">
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio"  value="animation2"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 2</span>
                </label>
            </li>
            <li>
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio"  value="animation3"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 3</span>
                </label>
            </li>
            <li class="mr-0">
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio"  value="animation4"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 4</span>
                </label>
            </li>
            <li>
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio"  value="animation5"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 5</span>
                </label>
            </li>
            <li class="mr-0">
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio"  value="animation6"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 6</span>
                </label>
            </li>
             
        </ul>

        <h4>Choose Layout</h4>
        <ul>
            <li class="full-width">
                <label class="item-radio style3 item-content">
                    <input type="radio" name="layout-radio"  value="style1"><i class="ti-check"></i>
                    <span class="circle-layout">Bg None</span>
                </label>
            </li>
            <li class="full-width">
                <label class="item-radio style3 item-content">
                    <input type="radio" name="layout-radio"  value="style2" checked=""><i class="ti-check"></i>
                    <span class="circle-layout">Bg Video</span>
                </label>
            </li>
        </ul>

    </div>

    <div class="main-wrap">

    <div class="overlay-color overlay-color-1" style="background-color: #bb3c3c;"></div>
    <div class="overlay-color overlay-color-2" style="background-color: #caa02f;"></div>
    <div class="overlay-color overlay-color-3" style="background-color: #000000;"></div>

    <div class="layout-style" id="layout-style1" style="background-image: none; display: none;" ></div>

    <div class="main-video layout-style" id="layout-style2" >
        <video autoplay loop style="width: 100%;height: auto;">
          <source src="images/video2.mp4" type="video/mp4">
        </video>
    </div>

   

    <div class="main-wrappper">

        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" class="logo"><span class="text">M</span><span class="hex"></span></a>
                        <a href="#" class="menu-bttn"><span></span></a>
                        
                        <ul class="menu-nav pull-right mt-2 nav-menu main-navclose">
                            <li><a href="#" class="active" data-menu="home">Home</a></li>
                            <li><a href="#" data-menu="about">About</a></li>
                            <li><a href="#" data-menu="resume">Resume</a></li>
                            <li><a href="#" data-menu="skill">Skill</a></li>
                            <li><a href="#" data-menu="work">Work</a></li>
                            <li><a href="#" data-menu="contact">Contact</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="banner-wrapper page active page-transition" id="home">
            <div class="svg-content animate-1 has-animate">
                <svg class="scene" width="100%" height="100vh" preserveAspectRatio="none" viewBox="0 0 1440 800" xmlns:pathdata="http://www.codrops.com/">
                    <path d="M 1066,436 C 1051,543.8 973.2,656.2 873.6,700.1 756.6,751.7 600.9,725 492.4,657.4 431.5,619.5 387.5,546.9 376.7,476 360.3,368.3 377.9,229.2 462.5,160.5 589.5,57.34 815.4,42.24 952.4,131.7 1044,190.8 1081,328.8 1066,436 Z" pathdata:id="M 1041,450.4 C 1023,547.7 992.8,667.7 905.7,714.5 793.1,775 639,728.7 524.5,671.8 453.3,636.4 382.2,575.4 360.2,499 329.7,393 344.6,249.2 426,174.9 568.6,44.66 851.1,-8.71 1002,111.8 1091,182.7 1061,338.6 1041,450.4 Z;M 1066,436 C 1051,543.8 976.5,664.5 873.6,700.1 761,739.1 636.4,655.8 529.5,603.1 441.6,559.8 325.8,520.1 293.8,427.5 263.1,338.4 294.5,213.4 368.2,154.8 520.7,33.48 790.1,23.76 952.4,131.7 1043,191.7 1081,328.8 1066,436 Z;M 1066,436 C 1053,531.1 930.7,580.1 842.2,617.2 734,662.7 598.4,707.8 492.4,657.4 427.6,626.6 387.5,546.9 376.7,476 360.3,368.3 376.9,227.9 462.5,160.5 567.6,77.69 749.9,37.5 863.8,148.8 947.6,230.7 1082,320.1 1066,436 Z"/>
                </svg>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center animate-2 has-animate">
                        <div class="vcenter">
                            <img src="https://via.placeholder.com/420x625.png" alt="banner" class="img-center">      
                            <h2 class="text-big">Mahammad Sadigzada</h2>
                            <div class="icon-scroll pos-bottom-center icon-white"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div class="banner-wrapper page scorll-overlay" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-left animate-1 has-animate">
                        <h4 class="text-white text-title">Get in touch</h4>                    
                    </div>
                    <div class="col-sm-5 animate-2 has-animate">
                        <form action="#" class="mt-0">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <textarea name="name" id="name" cols="1" rows="1" placeholder="Your Message"></textarea>
                            <button>Send Message</button>
                        </form>
                        <div class="row">
                            <div class="col-sm-6 address style2 mt-2">
                                <h3 class="fmont">SAN FRANCISCO</h3>
                                <h5 class="fmont">Address</h5>
                                <p class="fmont">41 MADISON AVE, FLR 25 <br> NEW YORK, NY 10010  <br>1-877-932-7111</p>
                                <h5 class="fmont">email</h5>
                                <p class="fmont mb-0">support@gmail.com</p>
                            </div>

                            <div class="col-sm-6 address style2 mt-2">
                                <h3 class="fmont">SAN FRANCISCO</h3>
                                <h5 class="fmont">Address</h5>
                                <p class="fmont">41 MADISON AVE, FLR 25 <br> NEW YORK, NY 10010  <br>1-877-932-7111</p>
                                <h5 class="fmont">email</h5>
                                <p class="fmont mb-0">support@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 offset-sm-1 animate-2 has-animate">
                        <div class="map-div">
                            <div id="map" style="height: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div class="banner-wrapper page scorll-overlay" id="resume">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center animate-1 has-animate"><h4 class="text-white text-title">Education & Experience</h4></div>
                    
                    <div class="col-lg-5 animate-1 has-animate mb-3">
                        
                        <div class="row align-items-center how-it-works d-flex">
                          <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                            <div class="circle">2008</div>
                          </div>
                          <div class="col-10">
                            <h5>Frontend Development</h5>
                            <h4>University of Studies</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                          </div>
                        </div>
                        <!--path between 1-2-->
                        <div class="row timeline">
                          <div class="col-2">
                            <div class="corner top-right"></div>
                          </div>
                          <div class="col-8">
                            <hr/>
                          </div>
                          <div class="col-2">
                            <div class="corner left-bottom"></div>
                          </div>
                        </div>
                        <!--second section-->
                        <div class="row align-items-center justify-content-end how-it-works d-flex">
                          <div class="col-10 text-right">
                            <h5>Graphic Designer</h5>
                            <h4>University of Studies</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                          </div>
                          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                            <div class="circle">2008</div>
                          </div>
                        </div>
                        <!--path between 2-3-->
                        <div class="row timeline">
                          <div class="col-2">
                            <div class="corner right-bottom"></div>
                          </div>
                          <div class="col-8">
                            <hr/>
                          </div>
                          <div class="col-2">
                            <div class="corner top-left"></div>
                          </div>
                        </div>
                        <!--third section-->
                        <div class="row align-items-center how-it-works d-flex">
                          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                            <div class="circle">2013</div>
                          </div>
                          <div class="col-10">
                            <h5>Wordpress Developer</h5>
                            <h4>University of Studies</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-lg-5 offset-lg-2 animate-2 has-animate">
                        
                        <div class="row align-items-center how-it-works d-flex">
                          <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                            <div class="circle">2008</div>
                          </div>
                          <div class="col-10">
                            <h5>Frontend Development</h5>
                            <h4>University of Studies</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                          </div>
                        </div>
                        <!--path between 1-2-->
                        <div class="row timeline">
                          <div class="col-2">
                            <div class="corner top-right"></div>
                          </div>
                          <div class="col-8">
                            <hr/>
                          </div>
                          <div class="col-2">
                            <div class="corner left-bottom"></div>
                          </div>
                        </div>
                        <!--second section-->
                        <div class="row align-items-center justify-content-end how-it-works d-flex">
                          <div class="col-10 text-right">
                            <h5>Graphic Designer</h5>
                            <h4>University of Studies</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                          </div>
                          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                            <div class="circle">2008</div>
                          </div>
                        </div>
                        <!--path between 2-3-->
                        <div class="row timeline">
                          <div class="col-2">
                            <div class="corner right-bottom"></div>
                          </div>
                          <div class="col-8">
                            <hr/>
                          </div>
                          <div class="col-2">
                            <div class="corner top-left"></div>
                          </div>
                        </div>
                        <!--third section-->
                        <div class="row align-items-center how-it-works d-flex">
                          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                            <div class="circle">2013</div>
                          </div>
                          <div class="col-10">
                            <h5>Wordpress Developer</h5>
                            <h4>University of Studies</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-wrapper page scorll-overlay" id="skill">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center animate-1 has-animate">
                        <h4 class="text-white text-title">My Skill</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 animate-2 has-animate">
                        <div class="bar-chart">
                            <div class="clearfix">
                                <h4>HTML</h4>
                                <div class="bar-value">90%</div>
                            </div>

                            <div data-value="90" class="bar-container">
                                <div class="bar-percentage"></div>
                            </div>                                   
                        </div>

                        <div class="bar-chart">
                            <div class="clearfix">
                                <h4>CSS</h4>
                                <div class="bar-value">70%</div>
                            </div>

                            <div data-value="95" class="bar-container">
                                <div class="bar-percentage"></div>
                            </div>                                   
                        </div>

                        <div class="bar-chart">
                            <div class="clearfix">
                                <h4>JQUERY</h4>
                                <div class="bar-value">80%</div>
                            </div>

                            <div data-value="75" class="bar-container">
                                <div class="bar-percentage"></div>
                            </div>                                   
                        </div>

                        <div class="bar-chart mb-0">
                            <div class="clearfix">
                                <h4>SCSS</h4>
                                <div class="bar-value">85%</div>
                            </div>

                            <div data-value="70" class="bar-container">
                                <div class="bar-percentage"></div>
                            </div>                                   
                        </div>
                    </div>

                    <div class="col-sm-6 animate-2 has-animate">
                        <div class="bar-chart">
                            <div class="clearfix">
                                <h4>PHP</h4>
                                <div class="bar-value">90%</div>
                            </div>

                            <div data-value="95" class="bar-container">
                                <div class="bar-percentage"></div>
                            </div>                                   
                        </div>

                        <div class="bar-chart">
                            <div class="clearfix">
                                <h4>WORDPRESS</h4>
                                <div class="bar-value">70%</div>
                            </div>

                            <div data-value="95" class="bar-container">
                                <div class="bar-percentage"></div>
                            </div>                                   
                        </div>

                        <div class="bar-chart">
                            <div class="clearfix">
                                <h4>LARAVEL</h4>
                                <div class="bar-value">80%</div>
                            </div>

                            <div data-value="95" class="bar-container">
                                <div class="bar-percentage"></div>
                            </div>                                   
                        </div>

                        <div class="bar-chart mb-0">
                            <div class="clearfix">
                                <h4>JAVA</h4>
                                <div class="bar-value">85%</div>
                            </div>

                            <div data-value="95" class="bar-container">
                                <div class="bar-percentage"></div>
                            </div>                                   
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 mt-4 animate-2 has-animate">
                        <div class="progress-wrap">
                            <div class="progress w90">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">90%</div>
                            </div>
                            <h4 class="mt-4">PSD</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-4 animate-2 has-animate">
                        <div class="progress-wrap">
                            <div class="progress w75">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">75%</div>
                            </div>
                            <h4 class="mt-4">XD</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-4 animate-2 has-animate">
                        <div class="progress-wrap">
                            <div class="progress w60">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">60%</div>
                            </div>
                            <h4 class="mt-4">Figma</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-4 animate-2 has-animate">
                        <div class="progress-wrap">
                            <div class="progress w80">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">80%</div>
                            </div>
                            <h4 class="mt-4">Sketch</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-wrapper page scorll-overlay" id="work">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center animate-1 has-animate">
                        <h4 class="text-white mb-3 text-title">Portfolio</h4>
                    </div>
                    <div class="col-md-12 animate-2 has-animate">
                        <div class="project-list">
                            <ul class="nav" id="project-flters">
                                <li class="filter filter-active" data-filter=".all">all</li>
                                <li class="filter" data-filter=".branding">branding</li>
                                <li class="filter" data-filter=".application">application</li>
                                <li class="filter" data-filter=".webdesign">web design</li>
                                <li class="filter" data-filter=".photography">photography</li>
                            </ul>
                        </div>
                    </div>
                    <div class="project-container animate-2 has-animate">
                        <div class="row">
                        <!-- project-item -->
                        <div class="col-lg-4 col-md-6 project-grid-item all branding webdesign">
                            <a class="popup-img project-item " href="#avacado"> <img src="https://via.placeholder.com/600x500.png" alt="img">
                                <div class="project-img-overlay">
                                    <div class="project-content">
                                        <h3>Creative Design</h3>
                                        <h6>View Project</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- project-item -->
                        <div class="col-lg-4 col-md-6 project-grid-item all application photography">
                            <a class="popup-img project-item" href="#pink"> <img src="https://via.placeholder.com/600x500.png" alt="img">
                                <div class="project-img-overlay">
                                    <div class="project-content">
                                        <h3>Creative Design</h3>
                                        <h6>View Project</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- project-item -->
                        <div class="col-lg-4 col-md-6 project-grid-item all branding webdesign">
                            <a class="popup-img project-item " href="#abstract"> <img src="https://via.placeholder.com/600x500.png" alt="img">
                                <div class="project-img-overlay">
                                    <div class="project-content">
                                        <h3>Creative Design</h3>
                                        <h6>View Project</h6>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-6 project-grid-item all branding webdesign">
                            <a class="popup-img project-item " href="#avacado"> <img src="https://via.placeholder.com/600x500.png" alt="img">
                                <div class="project-img-overlay">
                                    <div class="project-content">
                                        <h3>Creative Design</h3>
                                        <h6>View Project</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- project-item -->
                        <div class="col-lg-4 col-md-6 project-grid-item all application photography">
                            <a class="popup-img project-item" href="#pink"> <img src="https://via.placeholder.com/600x500.png" alt="img">
                                <div class="project-img-overlay">
                                    <div class="project-content">
                                        <h3>Creative Design</h3>
                                        <h6>View Project</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- project-item -->
                        <div class="col-lg-4 col-md-6 project-grid-item all branding webdesign">
                            <a class="popup-img project-item " href="#abstract"> <img src="https://via.placeholder.com/600x500.png" alt="img">
                                <div class="project-img-overlay">
                                    <div class="project-content">
                                        <h3>Creative Design</h3>
                                        <h6>View Project</h6>
                                    </div>
                                </div>
                            </a>
                        </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="banner-wrapper page scorll-overlay" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 offset-sm-3 text-center animate-1 has-animate">
                        <h4 class="text-white text-title">About us</h4>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="animate-2 has-animate col-md-6 col-lg-6 col-xl-4 services-item">
                        <div class="single-services-box">
                            <div class="single-services">
                                <div class="services-icon"> <i class="ti-gift"></i> </div>
                                <div class="services-text">
                                    <h3>Web Development</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="animate-2 has-animate col-md-6 col-lg-6 col-xl-4 services-item">
                        <div class="single-services-box">
                            <div class="single-services">
                                <div class="services-icon"> <i class="ti-lock"></i> </div>
                                <div class="services-text">
                                    <h3>Market Analysis</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="animate-2 has-animate col-md-6 col-lg-6 col-xl-4 services-item">
                        <div class="single-services-box">
                            <div class="single-services">
                                <div class="services-icon"> <i class="ti-heart"></i> </div>
                                <div class="services-text">
                                    <h3>Web Development</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="animate-2 has-animate col-md-6 col-lg-6 col-xl-4 services-item">
                        <div class="single-services-box">
                            <div class="single-services">
                                <div class="services-icon"> <i class="ti-harddrives"></i> </div>
                                <div class="services-text">
                                    <h3>Market Analysis</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="animate-2 has-animate col-md-6 col-lg-6 col-xl-4 services-item">
                        <div class="single-services-box">
                            <div class="single-services">
                                <div class="services-icon"> <i class="ti-crown"></i> </div>
                                <div class="services-text">
                                    <h3>Web Development</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="animate-2 has-animate col-md-6 col-lg-6 col-xl-4 services-item">
                        <div class="single-services-box">
                            <div class="single-services">
                                <div class="services-icon"> <i class="ti-user"></i> </div>
                                <div class="services-text">
                                    <h3>Market Analysis</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 animate-2 has-animate text-center mt-5"><h4 class="text-subtitle mb-0">Client Feedback</h4></div>
                </div>
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 animate-2 has-animate feedback-wrap text-center">
                        <div class="owl-carousel owl-theme feedback-slider">
                            <div class="owl-items">
                                <h4>We are a close team of creative professionals based out of Manhattan, New York. We are passionate about partnering with good people and organizations to provide exceptional custom solutions.</h4>
                                <div class="user-div">
                                    <img src="https://via.placeholder.com/50x50.png" alt="user">
                                    <h5>Dylan Gordon</h5>
                                    <span>Creative Director</span>
                                </div>
                            </div>

                            <div class="owl-items">
                                <h4>We are a close team of creative professionals based out of Manhattan, New York. We are passionate about partnering with good people and organizations to provide exceptional custom solutions.</h4>
                                <div class="user-div">
                                    <img src="https://via.placeholder.com/50x50.png" alt="user">
                                    <h5>Dylan Gordon</h5>
                                    <span>Creative Director</span>
                                </div>
                            </div>

                            <div class="owl-items">
                                <h4>We are a close team of creative professionals based out of Manhattan, New York. We are passionate about partnering with good people and organizations to provide exceptional custom solutions.</h4>
                                <div class="user-div">
                                    <img src="https://via.placeholder.com/50x50.png" alt="user">
                                    <h5>Dylan Gordon</h5>
                                    <span>Creative Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 animate-2 has-animate award-wrap">
                        <img src="https://via.placeholder.com/100x100.png" alt="brand">
                        <img src="https://via.placeholder.com/100x100.png" alt="brand">
                        <img src="https://via.placeholder.com/100x100.png" alt="brand">
                        <img src="https://via.placeholder.com/100x100.png" alt="brand">
                        <img src="https://via.placeholder.com/100x100.png" alt="brand">
                        <img src="https://via.placeholder.com/100x100.png" alt="brand">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 animate-2 has-animate text-center mt-5 mb-5"><h4 class="text-subtitle">Pricing</h4></div>
                </div>
                <div class="row price-table">
                    <div class="col-lg-4 mb-3 animate-2 has-animate">
                        <div class="price-tab text-center">
                            <span>15 days money back guarantee</span>
                            <h2><i>$</i>19 <b>/ month</b></h2>
                            <hr>
                            <p>30 days money back iOS &amp; Andriod ready 24/7 free support Unlimited download include 2 % transaction fee</p>
                            <a href="#" class="btn">Purchase Now <i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3 animate-2 has-animate">
                        <div class="price-tab text-center">
                            <span class="active">Extend Licence</span>
                            <h2><i>$</i>49 <b>/ month</b></h2>
                            <hr>
                            <p>30 days money back iOS &amp; Andriod ready 24/7 free support Unlimited download include 2 % transaction fee</p>
                            <a href="#" class="btn active">Purchase Now <i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                     <div class="col-lg-4 mb-3 animate-2 has-animate">
                        <div class="price-tab text-center">
                            <span>15 days money back guarantee</span>
                            <h2><i>$</i>99 <b>/ month</b></h2>
                            <hr>
                            <p>30 days money back iOS &amp; Andriod ready 24/7 free support Unlimited download include 2 % transaction fee</p>
                            <a href="#" class="btn">Purchase Now <i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>        
        </div>  

        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>support@gmail.com</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons float-right">
                            <li class="list-inline-item"><a href="#" class="text-white bg-facebook"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="text-white bg-twitter"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="text-white bg-pin"><i class="ti-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="text-white bg-dribbble"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>

    </div>

    </div>

    <div class="project-item-wrap">
        <a href="#" class="project-close-bttn"><i class="ti-close"></i></a>
        <div class="item-brief" id="avacado">
            <div class="item-brief-img"><img src="https://via.placeholder.com/600x700.png" alt="work"></div>
            <div class="item-brief-content">
                <h2>Avacado design</h2>
                <h3><i class="ti-user"></i>Alex Smith</h3>
                <h3><i class="ti-world"></i>www.aonecolor.com</h3>
                <h3><i class="ti-calendar"></i>24 August 2020</h3>
                <p>Aliquam euismod aliquam massa, quis eleifend dui sodales vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus.Aliquam euismod aliquam massa, quis eleifend dui sodales vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <ul class="social-icons float-left">
                    <li class="list-inline-item"><a href="#" class="text-white bg-facebook"><i class="ti-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white bg-twitter"><i class="ti-twitter-alt"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white bg-pin"><i class="ti-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white bg-dribbble"><i class="ti-instagram"></i></a></li>
                </ul>
            </div>
        </div>  

        <div class="item-brief" id="pink">
            <div class="item-brief-img"><img src="https://via.placeholder.com/600x700.png" alt="work"></div>
            <div class="item-brief-content">
                <h2>Pink Flamingo</h2>
                <h3><i class="ti-user"></i>Alex Smith</h3>
                <h3><i class="ti-world"></i>www.aonecolor.com</h3>
                <h3><i class="ti-calendar"></i>24 August 2020</h3>
                <p>Aliquam euismod aliquam massa, quis eleifend dui sodales vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus.Aliquam euismod aliquam massa, quis eleifend dui sodales vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <ul class="social-icons float-left">
                    <li class="list-inline-item"><a href="#" class="text-white bg-facebook"><i class="ti-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white bg-twitter"><i class="ti-twitter-alt"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white bg-pin"><i class="ti-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white bg-dribbble"><i class="ti-instagram"></i></a></li>
                </ul>
            </div>
        </div>  

        <div class="item-brief" id="abstract">
            <div class="item-brief-video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="images/video2.mp4"></iframe>
                </div>
            </div>
        </div> 
 



        
    </div>


    
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCOdKtT5fapH3_OfhV3HFeZjqFs4OfNIew&callback=mapinitialize" type="text/javascript"></script>
    <script src="js/plugin.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/svg.min.js"></script>
    
 
</body>

</html>