<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/style-three.css">
    <link rel="stylesheet" href="~/Assets/css/animate.css">

</head>

<body class="bg-transperent theme3-style light-black color-theme-blue animation1">

    <div class="loader-wrapper">
        <div class="loader-img"><span> Loading...</span></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <div class="backdrop"></div>
    <div class="switchcolor"><img src="images/settings.png" alt="icon"></div>
    <div class="switchcolor-wrap">
        <a class="link sheet-close"><i class="ti-close"></i></a>
        <h2>Settings</h2>
        <h4>Choose Color Theme</h4>
        <ul>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="red"><i class="ti-check"></i>
                    <span class="circle-color bg-red" style="background-color: #ff3b30;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="green"><i class="ti-check"></i>
                    <span class="circle-color bg-green" style="background-color: #4cd964;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="blue" checked=""><i class="ti-check"></i>
                    <span class="circle-color bg-blue" style="background-color: #132977;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="pink"><i class="ti-check"></i>
                    <span class="circle-color bg-pink" style="background-color: #ff2d55;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="yellow"><i class="ti-check"></i>
                    <span class="circle-color bg-yellow" style="background-color: #ffcc00;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="orange"><i class="ti-check"></i>
                    <span class="circle-color bg-orange" style="background-color: #ff9500;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="gray"><i class="ti-check"></i>
                    <span class="circle-color bg-gray" style="background-color: #8e8e93;"></span>
                </label>
            </li>

            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="brown"><i class="ti-check"></i>
                    <span class="circle-color bg-brown" style="background-color: #D2691E;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="darkgreen"><i class="ti-check"></i>
                    <span class="circle-color bg-darkgreen" style="background-color: #228B22;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="deeppink"><i class="ti-check"></i>
                    <span class="circle-color bg-deeppink" style="background-color: #FFC0CB;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="cadetblue"><i class="ti-check"></i>
                    <span class="circle-color bg-cadetblue" style="background-color: #5f9ea0;"></span>
                </label>
            </li>
            <li>
                <label class="item-radio item-content">
                    <input type="radio" name="color-radio" value="darkorchid"><i class="ti-check"></i>
                    <span class="circle-color bg-darkorchid" style="background-color: #9932cc;"></span>
                </label>
            </li>
        </ul>
        <h4>Choose Animation</h4>
        <ul>
            <li>
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio" value="animation1" checked=""><i class="ti-check"></i>
                    <span class="circle-ani">Animation 1</span>
                </label>
            </li>
            <li class="mr-0">
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio" value="animation2"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 2</span>
                </label>
            </li>
            <li>
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio" value="animation3"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 3</span>
                </label>
            </li>
            <li class="mr-0">
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio" value="animation4"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 4</span>
                </label>
            </li>
            <li>
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio" value="animation5"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 5</span>
                </label>
            </li>
            <li class="mr-0">
                <label class="item-radio style2 item-content">
                    <input type="radio" name="animation-radio" value="animation6"><i class="ti-check"></i>
                    <span class="circle-ani">Animation 6</span>
                </label>
            </li>

        </ul>

        <h4>Choose Layout</h4>
        <ul>
            <li class="full-width">
                <label class="item-radio style3 item-content">
                    <input type="radio" name="layout-radio" value="style1"><i class="ti-check"></i>
                    <span class="circle-layout">Bg None</span>
                </label>
            </li>
            <li class="full-width">
                <label class="item-radio style3 item-content">
                    <input type="radio" name="layout-radio" value="style2" checked=""><i class="ti-check"></i>
                    <span class="circle-layout">Bg Video</span>
                </label>
            </li>
        </ul>

    </div>

    <div class="main-wrap">

        <div class="overlay-color overlay-color-1" style="background-color: #bb3c3c;"></div>
        <div class="overlay-color overlay-color-2" style="background-color: #caa02f;"></div>
        <div class="overlay-color overlay-color-3" style="background-color: #000000;"></div>

        <div class="layout-style" id="layout-style1" style="background-image: none; display: none;"></div>

        <div class="main-video layout-style" id="layout-style2">
            <video autoplay loop style="width: 100%;height: auto;">
                <source src="images/video2.mp4" type="video/mp4">
            </video>
        </div>



        <div class="main-wrappper">

            <div class="header-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#" class="logo"><span class="text">M</span><span class="hex"></span></a>
                            <a href="#" class="menu-bttn"><span></span></a>

                            <ul class="menu-nav pull-right mt-2 nav-menu main-navclose">
                                <li><a href="#" class="active" data-menu="home">Home</a></li>
                                <li><a href="#" data-menu="about">About</a></li>
                                <li><a href="#" data-menu="resume">Resume</a></li>
                                <li><a href="#" data-menu="skill">Skill</a></li>
                                <li><a href="#" data-menu="work">Work</a></li>
                                <li><a href="#" data-menu="contact">Contact</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            @RenderBody()

            <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCOdKtT5fapH3_OfhV3HFeZjqFs4OfNIew&callback=mapinitialize" type="text/javascript"></script>
            <script src="~/Assets/js/plugin.js"></script>
            <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/Assets/js/scripts.js"></script>
            <script src="~/Assets/js/svg.min.js"></script>


</body>

</html>